<ion-view title="Login" id="page1">
    <ion-content padding="true" style="background: url(img/homepagepic.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="login-form2" class="list">
            <label class="item item-input" id="login-textarea1">
                 <span class="input-label">Username</span>
                    <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="login-textarea2">
                <span class="input-label">Password</span>
                    <input type="password" placeholder="">
            </label>
<!--
            <label class="item item-input" id="login3">
                 <span class="input-label">39.063612</span>
                    <input type="text" placeholder="">
            </label>
-->
        </form>
      
        <a ui-sref="joinClass" id="login-button1" class="button button-positive  button-block">Login</a>

        <a ui-sref="signup" id="login-button2" class="button button-positive  button-block">Register</a>
        <a ui-sref="location" id="login-button3" class="button button-positive  button-block">location</a>
    </ion-content>
</ion-view>